html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

/* Barra de navegacion Drawer */

#nav_drawer {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #dad9d9;
    transition: all .5s ease;
}

#nav_drawer header {
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    background:  #cac9c9;
    user-select: none;
}

#nav_drawer ul a {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;
    color: black;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

#nav_drawer ul li:hover a {
    padding-left: 50px;
}

ul li:hover a {
    background: rgb(183, 235, 183);
}

#check {
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: black;
    border-radius: 3px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: rgb(183, 235, 183);
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -205px;
    top: 17px;
    font-size: 30px;
    color: rgb(183, 235, 183);
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ #nav_drawer{
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 205px;
}

/* Boton de navegacion de registro*/

#buttonreg_nav {
    background: transparent;
    font-size: 18px;
    height: 40px;
    width: 150px;
    border: 2px solid #FF5733;
    margin: 20px 0 20px 30px;
    cursor: pointer;
    transition: all .5s ease-in;
}

#buttonreg_nav a {
    text-decoration: none;
    color: black;
}

#buttonreg_nav:hover{
    background: #FF5733;
}


/*Estilos del formulario*/

#formRegistro {
    width: 600px;
    height: 500px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    margin: 150px auto;
    padding: 20px 0;
}

#formRegistro h1 {
    color: black;
    font-size: 30px;
    text-align: center;
}

#fomulario{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    color: #FF5733;
    margin: 0 auto;
}

/* Estilos de Aspectos Generales*/

#contenedor{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid beige;
}

.btnPersonalizado {
    background: transparent;
    font-size: 18px;
    height: 40px;
    width: 150px;
    border: 2px solid rgb(183, 235, 183);
    cursor: pointer;
    transition: all .5s ease-in; 
}