html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: white;
    font-family: 'Bitter', serif;
}

/* Barra de navegacion Drawer */


#nav_drawer {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #dad9d9;
    transition: all .5s ease;
    border-right: 1px solid rgba(0, 0, 0, 0.6);
}

/* #nav_drawer header {
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    background:  #cac9c9;
    user-select: none;
} */

#nav_drawer ul a {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;
    color: black;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

#nav_drawer ul li:hover a {
    padding-left: 50px;
}

ul li:hover a {
    background: rgb(183, 235, 183);
}

#check {
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: black;
    border-radius: 3px;
}

label #btn {
    position: fixed;
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: rgb(183, 235, 183);
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    position: fixed;
    z-index: 1111;
    left: -205px;
    top: 17px;
    font-size: 30px;
    color: rgb(183, 235, 183);
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ #nav_drawer{
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 205px;
}

/* Boton de navegacion de registro*/

#buttonreg_nav {
    background: transparent;
    font-size: 18px;
    height: 40px;
    width: 150px;
    border: 2px solid #FF5733;
    margin: 20px 0 20px 30px;
    cursor: pointer;
    transition: all .5s ease-in;
}

#buttonreg_nav a {
    text-decoration: none;
    color: black;
}

#buttonreg_nav:hover{
    background: #FF5733;
}


/*Estilos del formulario*/

#formRegistro {
    width: 600px;
    height: 500px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    margin: 150px auto;
    padding: 20px 0;
}

#formRegistro h1 {
    color: black;
    font-size: 30px;
    text-align: center;
}

#fomulario{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    color: #FF5733;
    margin: 0 auto;
}

/* Estilos de Aspectos Generales*/

#hero {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url('/img/home.jpg');
    background-size: cover;
    background-position: top center;
    height: 100vh;
}

.btnPersonalizado {
    background: transparent;
    font-size: 18px;
    height: 40px;
    width: 150px;
    border: 2px solid rgb(183, 235, 183);
    cursor: pointer;
    transition: all .5s ease-in; 
}

.container{
    
    max-width: 1400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

.container_barra {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.barra {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 20px 10px 0px 10px;
    z-index: 1;
}

.barra h1 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.barra a {
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

.barra a:hover{
    color: rgb(183, 235, 183);
}

.info {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 300;
    width: 50rem;
    color: white;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: 15px;
}

section {
    background-color: #dad9d9;
    height: 600px;
    padding: 20px 0px;
}

.galeria {
    text-align: center;
    color: #000080;
}

hr {
    width: 150px;
    color: #FF5733;
    margin: 0 auto;
}

.contendor_imagenes {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    flex-wrap: wrap;
}

.contendor_imagenes img {
    width: 250px;
    height: 200px;
    margin: 20px;
    box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.58);

}

.clientes {
    text-align: center;
    color: #000080;
    font-size: 14px;
    padding: 30px;
}

.contenedor_clientes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contenedor_clientes img {
    width: 250px;
    height: 200px;
}


/*Pagina Nosotros*/

#nosotros {
    text-align: center;
}

.contenedor_nosotros {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.texto {
    width: 40%;
    text-align: justify;
    padding: 10px;
}

.imagen {
    width: 60%;
}

.imagen img {
    width: 320px;
}

.wrap {
    width: 20%;
    max-width: 400px;
    margin: auto;
}

.formulario2 >div {
    padding: 1px 0;
}

.formulario2 input[type="radio"]{
    display: none;
}
.formulario2 .radio label{
    color: #fff;
    background: rgb(0, 0, 0,.1);
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.33s ease;
}
.formulario2 .radio label:hover{
    background: rgba(0,116,216,0.1);
}
.formulario2 .radio label::before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #1f53c5;
    border-radius: 50%;
    position: absolute;
    left: 17px;
}
.formulario2 input[type ="radio"]:checked + label{
    padding: 5px 15px;
    background:#1f53c5;
    border-radius: 2px;
    color: #fff;

}
.formulario2 input[type ="radio"]:checked + label::before{
    display: none;
}
 
/*body {
    background-image: url('fondo.jpg');
}*/
.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    background-image: linear-gradient(0deg, #24303c 0%, #838380 100%);
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 13px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .error {
    width: 100%;
    background:rgb(221, 155, 155);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 13px;
    border: 1px solid red;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }

  #error {
      text-align: center;
      color: red;
      font-size: 15px;
      margin-top: 40px;
      text-transform: uppercase;
  }
  
  .form-register p {
    height: 23px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .button {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
  }
/* Aspectos generales estilos css*/
*{
    font-family: 'Bungee', cursive;
}
body, html{
    height: 100%;
    margin:0;
}
.wrapper{
    height: 100%;
    background-color:white;
}
.name-web{
    margin-top:1rem;
    font-size: 3rem;
}
.content{
    position:absolute;
    top:30%;
    left:50%;
    width:90%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.card{
    display: inline-block;
    margin:40px;
    border: 1px solid rgb(207, 207, 207);
    background-color:white;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color .5s;
}
.card h2{
    font-size: 1.2rem;
}

.card h3{
    font-size: smaller;
    text-align: justify;
    font-family: 'calibri';
}
img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-contact{
    margin: 0 auto;
    text-align:center;
    border-radius:5px;
    width:150px;
    border:1px solid gray;
    cursor:pointer;
    transition: background-color .5s;
    margin-top:2rem;
}
.sections{
  position:absolute;
  top:50%;
  left:50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.container-btn-mode{
    position: absolute;
    top:20px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    font-size:0;
  }
  .btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    border:2px solid black;
    transition: background-color .5s;
  }
  .btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
  }
  .btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
  }
  .btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .active{
    background-color:black;
    color:#ffcd5c !important;
  }

  .dark-mode{
    background-color: #0e0e0e;
    transition:background-color .5s;
  }
  .dark-mode .card{
    background-color: #1A1C1E;
  }
  .dark-mode h1, .dark-mode h2,.dark-mode h3, .dark-mode .btn-contact{
    color:white;
  }
  .dark-mode .btn-mode{
    background-color:#1A1C1E;
    border:1px solid white;
    color:white;
  }
